<head>
    <% if (page?.og){ %>
        <% if (page?.og?.image){ %>
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="@YNizry">
            <meta name="og:image" content="https://yaniv-git.github.io<%= page?.og?.image %>">
            <meta name="twitter:image" content="https://yaniv-git.github.io<%= page?.og?.image %>">
        <% } %>
        <% if (page?.og?.title){ %>
            <meta name="og:title" content="<%= page?.og?.title %>">
            <meta name="twitter:title" content="<%= page?.og?.title %>">
        <% } %>
        <% if (page?.og?.description){ %>
            <meta name="og:description" content="<%= page?.og?.description %>">
            <meta name="twitter:description" content="<%= page?.og?.description %>">
        <% } %>
    <% } %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:type" content="website">
    <meta name="description" content="<%= config.description %>">
    <meta name="keyword"  content="<%= config.keyword %>">
    <link rel="shortcut icon" href="<%= config.root %>img/favicon.ico">
    <title>
        <% if (page.title) { %>
        <%= page.title + ' - ' + config.SEOTitle %>
        <% } else{%>
        <%= config.SEOTitle %>
        <% } %>
    </title>

    <!-- Custom CSS -->
    <%- css('css/aircloud.css') %>
    <%- css('css/gitment.css') %>
    <!--<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">-->
    <link href="//at.alicdn.com/t/font_620856_28hi1hpxx24.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
    .googleicon {
        vertical-align: middle;
        font-size: 20px;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;    
        color: #999999;
        }
    </style>

    <!-- ga & ba script hoook -->
    <script></script>

    <%- partial('_partial/analytics', null, {cache: false}) %>
</head>
